{% extends 'layout.html'%} {%block head%}
<title>Управления аккаунтом</title>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/adminPanel.css') }}"
/>
{% endblock head %} {%block body%}
<div class="toPanelsContainer">
  <h2>
    <a href="/changeusername" class="toPanel textPrimary"
      >Поменять юзернейм 🙂</a
    >
  </h2>
  <h2>
    <a href="/changepassword" class="toPanel textPrimary"
      >Изменить пароль 🔐</a
    >
  </h2>
  <h2>
    <a
      href="/deleteuser/{{session['userName']}}/redirect=&"
      class="toPanel textPrimary"
      >Удалить аккаунт 🥺</a
    >
  </h2>
</div>
{% endblock body %}
