{% extends 'layout.html'%} {%block head%}
<title>Изменить пост</title>
<script language="JavaScript">
    alert("ПУБЛИЦКАЦИЯ ССЫЛКИ ВРЕМЕННО НЕДОСТУПНА");
</script>
{% endblock head %} {%block body%}
<div class="container">
  <form method="post" class="form formPost centeredHorizontally">
    {{form.postTitle(class_="input centeredHorizontally" , autocomplete="off")}}
    {{form.postTags(class_="input centeredHorizontally" , autocomplete="off")}}
    {{form.postContent(class_="editor", autocomplete="off")}}
    <button type="submit" class="btn btnPrimary">Сохранить</button>
  </form>
</div>
{% endblock body %}
